@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-columns: minmax(1fr, 1fr) minmax(1fr, 1fr);
    padding-top: 30px;
}

main {
    background-color: rgba(0, 0, 0, 0.795);
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 27vw;
    height: 850px;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: scroll;
 }

/* Estilos específicos para WebKit (Chrome, Safari, Edge) */
main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

main::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background-color: rgba(6, 170, 199, 0.8);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
}

main::-webkit-scrollbar-thumb:hover {
    background-color: rgba(6, 170, 199, 1);
}
header {
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.856);
    height: 79.5vh;
    width: 22vw;
    padding: 30px;
    position: fixed;
    border: 2px solid black;
    border-radius: 20px;
}

.titulo {
    padding: 10px;
    font-size: 210%;
    font-family: "Lato", sans-serif;
    position: static;
    margin-bottom: 20px;
    color: white;
}

nav {
    width: 20vw;
    padding-top: 20px;
    padding-right: 30px;
    height: 70vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.todos-productos {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.todos-productos:hover {
    width: 110%;
}


.abrigos {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.abrigos:hover {
    width: 110%;
}


.camisetas {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.camisetas:hover {
    width: 110%;
}


.pantalones {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.pantalones:hover {
    width: 110%;
}


.contenedor-carrito {
    width: 10%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    border-left-color: black;
    transition-property: width;
    transition-duration: 2s;
}

.contenedor-carrito:hover {
    width: 13%;
}

.contenedor-carrito {
    margin-top: 360px;
    position: fixed;
}

.copyright {
    margin-top: 630px;
    position: fixed;
}

#todos-productos {
    width: 1280px;
    width: 67vw;
}

.titulo-contenedor {
    padding: 20px;
    height: 30px;
    width: 28vw;
    margin-right: 630px;
}

#productos {
    background-color: red;
    display: flex;
    flex-direction: column;
}

.producto-container {
    border: 2px solid rgb(6, 170, 199);
    border-radius: 20px;
    background-color: rgb(49, 48, 48);
    padding: 10px;
    box-sizing: border-box;
    width: 65vw;
    height: 18vh;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.producto-container img{
    border: 2px solid black;
    border-radius: 50%;
    width: 8vw;
}

.info-container {
    width: 15vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.info-container h1{
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    margin-right: 20vw;
    box-sizing: border-box;
}

.info-container p{
    color: rgba(245, 245, 245, 0.733);
}

.cantidad-container {
    width: 15vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.cantidad-container label{
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.cantidad-container input{
    background-color: red;
    width: 2vw;
    padding: 5px;
}