@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0 auto;
}

body {
    display: grid;
    grid-template-columns: minmax(300px, 500px) minmax(700px, 1fr);
    padding-top: 30px;
}

main {
    background-color: rgba(0, 0, 0, 0.795);
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 27vw;
    height: 850px;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: scroll;
 }

/* Estilos específicos para WebKit (Chrome, Safari, Edge) */
main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

main::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

main::-webkit-scrollbar-thumb {
    background-color: rgba(6, 170, 199, 0.8);
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0);
}

main::-webkit-scrollbar-thumb:hover {
    background-color: rgba(6, 170, 199, 1);
}
header {
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.856);
    height: 790px;
    width: 22vw;
    padding: 30px;
    position: fixed;
    border: 2px solid black;
    border-radius: 20px;
}

.titulo {
    padding: 10px;
    font-size: 210%;
    font-family: "Lato", sans-serif;
    position: static;
    margin-bottom: 20px;
    color: white;
}

nav {
    width: 20vw;
    padding-top: 20px;
    padding-right: 30px;
    height: 700px;
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.todos-productos {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.todos-productos:hover {
    width: 110%;
}


.abrigos {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.abrigos:hover {
    width: 110%;
}


.camisetas {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.camisetas:hover {
    width: 110%;
}


.pantalones {
    width: 100%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    border-left-color: black;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    transition-property: width;
    transition-duration: 2s;
}

.pantalones:hover {
    width: 110%;
}


.contenedor-carrito {
    width: 10%;
    font-size: 70%;
    height: 50px;
    border-top: 2px solid;
    border-left: 3px solid black;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
    border-right-color: rgb(6, 170, 199);
    border-bottom-color: rgb(6, 170, 199);
    border-top-color: rgb(6, 170, 199);
    border-left-color: black;
    transition-property: width;
    transition-duration: 2s;
}

.contenedor-carrito:hover {
    width: 13%;
}

.contenedor-carrito {
    margin-top: 360px;
    position: fixed;
}

.copyright {
    margin-top: 630px;
    position: fixed;
}

#todos-productos {
    width: 1280px;
    width: 67vw;
}

.titulo-contenedor {
    padding: 20px;
    height: 30px;
    width: 28vw;
    margin-right: 630px;
}

/* Prodcuctos del main */

#productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* ABRIGOS */

.abrigo1,
.abrigo2,
.abrigo3,
.abrigo4,
.abrigo5 {
    box-shadow: 10px 15px 8px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: rgba(26, 24, 24, 0.644);
    width: 15vw;
    height: 380px;
    border: 2px solid rgb(6, 170, 199);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
}

.abrigo1-info,
.abrigo2-info,
.abrigo3-info,
.abrigo4-info,
.abrigo5-info {
    height: 140px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 80px;
    width: 90%;
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Precio Carrito"
    ;
    gap: 20px;
    background-color: rgba(163, 163, 163, 0.13);
    border: 1px solid rgb(6, 170, 199);
}

.abrigo1-info h1,
.abrigo2-info h1,
.abrigo3-info h1,
.abrigo4-info h1,
.abrigo5-info  h1{
    font-size: 0.7vw;
    font-family: "Lato", sans-serif;
    
}

.abrigo1-info p,
.abrigo2-info p,
.abrigo3-info p,
.abrigo4-info p,
.abrigo5-info  p{
    font-size: 0.7vw;
    font-family: "Lato", sans-serif;
    
}

.abrigo1 img,
.abrigo2 img,
.abrigo3 img,
.abrigo4 img,
.abrigo5 img{
    height: 160px;
    border: 2px solid black;
    border-radius: 20px;
}

/* CAMISETAS */
.camiseta1,
.camiseta2,
.camiseta3,
.camiseta4,
.camiseta5 {
    box-shadow: 10px 15px 8px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: rgba(26, 24, 24, 0.644);
    width: 15vw;
    height: 380px;
    border: 2px solid rgb(6, 170, 199);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
}

.camiseta1-info,
.camiseta2-info,
.camiseta3-info,
.camiseta4-info,
.camiseta5-info {
    height: 140px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 80px;
    width: 90%;
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Precio Carrito"
    ;
    gap: 20px;
    background-color: rgba(163, 163, 163, 0.13);
    border: 1px solid rgb(6, 170, 199);
}

.camiseta1-info h1,
.camiseta2-info h1,
.camiseta3-info h1,
.camiseta4-info h1,
.camiseta5-info  h1{
    font-size: 0.7vw;
    font-family: "Lato", sans-serif;
    
}

.camiseta1-info p,
.camiseta2-info p,
.camiseta3-info p,
.camiseta4-info p,
.camiseta5-info  p{
    font-size: 0.7vw;
    font-family: "Lato", sans-serif;
    
}

.camiseta1 img,
.camiseta2 img,
.camiseta3 img,
.camiseta4 img,
.camiseta5 img{
    height: 160px;
    border: 2px solid black;
    border-radius: 20px;
}

/* PANTALONES */
.pantalon1,
.pantalon2,
.pantalon3,
.pantalon4,
.pantalon5 {
    box-shadow: 10px 15px 8px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: rgba(26, 24, 24, 0.644);
    width: 15vw;
    height: 380px;
    border: 2px solid rgb(6, 170, 199);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 30px;
}

.pantalon1-info,
.pantalon2-info,
.pantalon3-info,
.pantalon4-info,
.pantalon5-info {
    height: 140px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 80px;
    width: 90%;
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Precio Carrito"
    ;
    gap: 20px;
    background-color: rgba(163, 163, 163, 0.13);
    border: 1px solid rgb(6, 170, 199);
}

.pantalon1-info h1,
.pantalon2-info h1,
.pantalon3-info h1,
.pantalon4-info h1,
.pantalon5-info  h1{
    font-size: 0.7vw;
    font-family: "Lato", sans-serif;
    
}

.pantalon1-info p,
.pantalon2-info p,
.pantalon3-info p,
.pantalon4-info p,
.pantalon5-info  p{
    font-size: 0.7vw;
    font-family: "Lato", sans-serif;
    
}

.pantalon1 img,
.pantalon2 img,
.pantalon3 img,
.pantalon4 img,
.pantalon5 img{
    height: 160px;
    border: 2px solid black;
    border-radius: 20px;
}

.button-agregar-carrito {
    width: 12vh;
    height: 6vh;
    background-color: #2525258c; 
    border: 2px solid #000; 
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 30px;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}


@keyframes button-move {
    0% {
        background-color: #2525258c;
        margin-top: 0px;
        border-left-color: rgba(6, 170, 199, 0.178);
        
    }

    20% {
        border-left-color: rgba(6, 170, 199, 0.781);
    }

    50% {
        margin-top: 10px;
        border-top-color: rgb(6, 170, 199);
    }

    70% {
        border-right-color: rgba(6, 170, 199, 0.781);
    }

    100% {
        border-bottom-color: rgba(6, 170, 199, 0.575);
    }
}

.button-agregar-carrito:hover {
    animation: button-move 2s linear 0s normal forwards running;
    background-color: #000;
}

.button-agregar-carrito a{
    color: rgb(6, 170, 199);
}